{:paths ["src"]

 :deps
 {
  org.clojure/clojure {:mvn/version "1.7.0"}
  org.choco-solver/choco-solver {:mvn/version "3.3.0"}
  }

 :aliases
 {
  ;; Runs with 'clj -X:build pipeline :lib io.github.mortenschioler/loco' in pipeline.
  ;; Clojars credentials are taken from environment vars, and the version is taken from the tag at HEAD.
  :build {:replace-paths ["build"]
          :replace-deps {; Just use the installed Clojure version for max speed. clojure version is defined in root.
                         ; Will be >= 1.10 since the alias must have been invoked with clj. tools.build & pomegranate
                         ; are very compatible with old clojure versions.
                         #_#_org.clojure/clojure {:mvn/version "1.11.1"}
                         io.github.clojure/tools.build {:git/tag "v0.9.3" :git/sha "e537cd1"}
                         clj-commons/pomegranate {:mvn/version "1.2.23"}}
          :ns-default build}

  ; Run the tests with clj -X:test
  :test {:extra-paths ["test"]
         :override-deps {org.clojure/clojure {:mvn/version "1.11.1"}} ;; newer clojure version needed for the test runner}
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      org.slf4j/slf4j-simple {:mvn/version "1.7.36"}}
         :exec-fn cognitect.test-runner.api/test
         :exec-args {:dirs ["test"]
                     :patterns [".*"]}}

  ;; Run with clj -X:build:nrepl to start a remote repl with the :build classpath (and nrepl)
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}
          :exec-fn nrepl.cmdline/-main}
  }
 }
